@model IdleUI.Models.GameModel
@{
    ViewData["Title"] = "Idle Game";
}

<div>
    <h1 class="display-4">User ID: @Model.Account.Id</h1>
    <div class="account-info-grid">
        <label>Experience:</label><output id="experienceTotal">@Model.Account.Experience</output>
        <label>Gold:</label><output id="goldTotal">@Model.Account.Gold</output>
        <label>Diamonds:</label><output id="diamondsTotal">@Model.Account.Diamonds</output>
    </div>
    <div class="rewards-box">
        <form class="form-inline" asp-action="Collect">
            <button type="submit" class="btn btn-primary">Collect Rewards</button>
        </form>
        <div class="account-info-grid">
            <label>Experience:</label><output id="experienceRewards">0</output>
            <label>Gold:</label><output id="goldRewards">0</output>
            <label>Diamonds:</label><output id="diamondsRewards">0</output>
        </div>
    </div>
    <script type="text/javascript">
        var formatter = new Intl.NumberFormat(undefined, { notation: 'compact', maximumFractionDigits: 3 });

        // Format totals to be compact so they are consistent with rewards
        var experienceTotal = document.getElementById("experienceTotal");
        var goldTotal = document.getElementById("goldTotal");
        var diamondsTotal = document.getElementById("diamondsTotal");

        experienceTotal.innerHTML = formatter.format(experienceTotal.innerHTML);
        goldTotal.innerHTML = formatter.format(goldTotal.innerHTML);
        diamondsTotal.innerHTML = formatter.format(diamondsTotal.innerHTML);

        var experienceRewards = document.getElementById("experienceRewards");
        var goldRewards = document.getElementById("goldRewards");
        var diamondsRewards = document.getElementById("diamondsRewards");

        var experienceRate = @Model.Account.GetExperienceAccumulationRate();
        var goldRate = @Model.Account.GetGoldAccumulationRate();
        var diamondsRate = @Model.Account.GetDiamondAccumulationRate();

        var accumulatedSeconds = @Model.Account.GetAccumulationTime(DateTime.UtcNow);

        // Update collection rewards right away
        updateCollectionRewards();

        // Update collection rewards every second
        setInterval(updateCollectionRewards, 1000);

        function updateCollectionRewards() {
            experienceRewards.innerHTML = formatter.format(experienceRate * accumulatedSeconds);
            goldRewards.innerHTML = formatter.format(goldRate * accumulatedSeconds);
            diamondsRewards.innerHTML = formatter.format(diamondsRate * accumulatedSeconds);
            ++accumulatedSeconds;
        }
    </script>
</div>
